<input type="text" class="form-control" [(ngModel)]="carName">
<button class="btn btn-primary" (click)="addCar()">Добавить машину</button>

<p *ngIf="!addCarStatus; else successStatus">Машина не добавлена</p>
<ng-template #successStatus>
  <p >Машина добавлена</p>
</ng-template>

<hr>
<app-car *ngFor="let car of cars"></app-car>
<hr>
<hr>
<ul>
  <li *ngFor="let date of dates; let index = index">

    <div>
      <b>{{index + 1}}</b> - <i>{{date | uppercase}}</i>
<!--      <b>{{index + 1}}</b> - <i>{{date | date: 'medium'}}</i>-->
    </div>

<!--    <div [ngStyle]="{'background-color': (index + 1) % 2 === 0 ? 'red' : 'green', 'color': 'white'}"-->
<!--         [ngClass]="{'big-text': setBigCarText(car)}"-->
<!--    >-->
<!--      <b>{{index + 1}}</b> - <i>{{car}}</i>-->
<!--    </div>-->
  </li>

<!--  <li *ngFor="let item of items; let index = index">-->
<!--    <b>{{index + 1}}</b> - <i>{{item.name}}</i>-->
<!--  </li>-->
</ul>
<hr>

<!--<input type="text" class="form-control" (keyup.enter)="onKeyUp($event)">-->
<!--<input type="text" class="form-control" [(ngModel)]="inputText">-->
<!--<p>{{inputText}}</p>-->
